@{
  Layout = "_Layout";
}
@model Registrar.Models.Course
<header>
  <h3>Add Course</h3>
</header>
<main>
  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    @Html.DropDownList("DepartmentId")
    <input type="submit" value="Add Course" />
  }
  <p>@Html.ActionLink("Go back to Courses", "Index")</p>
</main>