@{
  Layout = "_Layout";
}
@model Registrar.Models.Department
<header>
  <h3>Add </h3>
</header>
<main>
  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    <input type="submit" value="Add Department" />
  }
  <p>@Html.ActionLink("Go back to Departments", "Index")</p>
</main>