@{
  Layout = "_Layout";
}

<header>
  <h1>Welcome!</h1>
</header>
<main>
  @Html.ActionLink("View Departments", "Index", "Departments")
  @Html.ActionLink("View Courses", "Index", "Courses")
  @Html.ActionLink("View Students", "Index", "Students")
</main>